h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: 100;
}

/*styly pre DatePicker*/
@media only screen and (max-device-width: 720px) {
    .ant-calendar {
        width: auto;
        font-size: 50px;
    }
}
.ant-calendar-picker {
     width: 100%;
 }
.ant-input {
    font-family: 'Roboto', sans-serif;
    border-color: #CCCACC;
    height: initial;
}
@media only screen and (max-device-width: 720px) {
    .ant-input {
        font-size: 50px;
        padding: 20px 5%;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-calendar-input-wrap {
        height: initial;
    }
}
.ant-input:focus {
    border-color: #CCCACC;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ant-calendar-picker-icon {
    right: 16px;
}
@media only screen and (max-device-width: 720px) {
    .ant-calendar-picker-icon {
        top: 40%;
        right: 10%;
    }
}

@media only screen and (max-device-width: 720px) {
    .ant-calendar-picker-icon:after {
        font-size: 50px;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-calendar-input {
        height: initial;
        width: auto;
        padding: 20px;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-calendar-header {
        height: initial;
        line-height: initial;
        padding: 20px;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-calendar-table {
        width: auto;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-calendar-column-header {
        width: auto;
        line-height: initial;
        padding: 20px;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-calendar-cell {
        height: initial;
        padding: 20px 10px;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-calendar-date {
        width: 70px;
        height: 60px;
        line-height: 70px;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-calendar-footer {
        line-height: initial;
        padding: 20px;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-calendar-header .ant-calendar-prev-century-btn, .ant-calendar-header .ant-calendar-next-century-btn, .ant-calendar-header .ant-calendar-prev-decade-btn, .ant-calendar-header .ant-calendar-next-decade-btn, .ant-calendar-header .ant-calendar-prev-month-btn, .ant-calendar-header .ant-calendar-next-month-btn, .ant-calendar-header .ant-calendar-prev-year-btn, .ant-calendar-header .ant-calendar-next-year-btn {
        font-size: 50px;
    }
}

@media only screen and (max-device-width: 720px) {
    .ant-calendar-header .ant-calendar-prev-month-btn {
        left: 70px;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-calendar-header .ant-calendar-next-month-btn {
        right: 70px;
    }
}


.ant-calendar-picker:focus .ant-calendar-picker-input:not(.ant-input-disabled) {
    border-color: #CCCACC;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
    border-color: #CCCACC;
}
.ant-calendar-picker-clear:hover {
    color: #F1ADBE;
}
.ant-calendar-selected-day .ant-calendar-date {
    background: #F1ADBE;
}
.ant-calendar-today .ant-calendar-date {
    border-color: #F1ADBE;
    color: #F1ADBE;
    background-color: #fff;
}
a {
    color: #000;
}
a:hover {
    color: #F1ADBE;
}
.ant-calendar-header a:hover {
    color: #F1ADBE;
}
.ant-calendar-date:hover {
    background: rgba(241, 173, 190, 0.30);
    color: #000;
}

/*styly TimePicker*/
.ant-time-picker {
    font-family: 'Roboto', sans-serif;
    border-color: #CCCACC;
    width: 95%;
}
.ant-time-picker-input:hover {
    font-family: 'Roboto', sans-serif;
    border-color: #CCCACC;
}
.ant-time-picker-input:focus {
    border-color: #CCCACC;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ant-time-picker-input {
    padding: 0;
    padding-left: 5%;
    border: 1px solid #CCCACC;
}
@media only screen and (max-device-width: 720px) {
    .ant-time-picker-input {
        padding: 30px 0 30px 5%;
        font-size: 50px;
    }
}
.ant-time-picker-icon {
    right: 0;
}
@media only screen and (max-device-width: 720px) {
    .ant-time-picker-icon {
        top: 30%;
        right: 5%;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-time-picker-icon:after {
        font-size: 50px;
    }
}
.ant-time-picker-panel-select li:hover {
    background: rgba(241, 173, 190, 0.30);
    color: #000;
}
li.ant-time-picker-panel-select-option-selected {
    background: #F1ADBE;
    color: #fff;
    font-weight: bold;
}
.ant-time-picker-panel-narrow .ant-time-picker-panel-input-wrap {
     max-width: none;
}
.ant-time-picker-panel-clear-btn:hover:after {
     color: #F1ADBE;
}
@media only screen and (max-device-width: 720px) {
    .ant-time-picker-panel-inner{
        font-size: 50px;
        padding: 10px;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-time-picker-panel-clear-btn {
        right: 50px;
        overflow: initial;
        width: initial;
        height: initial;
        line-height: initial;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-time-picker-panel-clear-btn:after {
        font-size: 50px;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-time-picker-panel-combobox {
        zoom: 3;
    }
}

/*styly Select*/
.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
    border-color: #CCCACC;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ant-select-selection:hover {
    border-color: #CCCACC;
}
.ant-select-dropdown-menu-item:hover {
    background-color: rgba(241, 173, 190, 0.30);
    color: #000;
}

.ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item-selected:hover {
    background-color: #F1ADBE;
    color: #fff;
}

.ant-select-dropdown-menu-item-active {
    background-color: #F1ADBE;
    color: #fff;
}
@media only screen and (max-device-width: 720px) {
    .ant-select {
        width: 100%;
        font-size: 50px;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-select-selection--single {
        height: initial;
        padding: 20px 5%;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-select-selection__rendered {
        line-height: initial;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-select-arrow {
        top: 30%;
        right: 5%;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-select-arrow:before {
        font-size: 50px;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-select-dropdown-menu {
        max-height: 800px;
    }
}
@media only screen and (max-device-width: 720px) {
    .ant-select-dropdown-menu-item {
        font-size: 30px;
        padding: 20px;
    }
}

